<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-animate-left" style="display:none;z-index:5" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large" (click)="close()">Close &times;</button>

  <div class="col-md-10">
    <h5> <strong>Total</strong> ${{Ptotal | number:0}}</h5>
    <button class="btn btn-success">  <i class="fas fa-dollar-sign"></i> Comprar
      </button>
  </div>

    <hr>

    <div class="align-items-center text-center">
      <h1 style="color: black;font-family:Pacifico;font-size: 20px">
        Lista</h1>
    </div>

    <div class="col-md-8" *ngFor="let list of listshow">
      <div>
        <a>{{list.desc}}</a>
      </div>
      <div>
        <a>Cantidad: {{list.cant}}</a>
      </div>
      <div>
        <a> Precio: ${{list.price | number:0}}</a>
      </div>
      <hr>
    </div>

</div>
<!-- My page -->
<div class="w3-overlay w3-animate-opacity" (click)="close()" style="cursor: pointer; display: none;" id="myOverlay">
</div>
<div class="container">

  <div class="sticky">
    <div class="row">
      <div class="col-md-8">
        <h2>Frutas y Verduras</h2>
      </div>
      <div class="col-md-3">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search"
            [(ngModel)]='searchTerm' [ngModelOptions]="{standalone: true}">
        </form>
      </div>
      <button type="button" class="btn btn-default btn-circle btn-lg" (click)="open()"> <i
          class="fas fa-shopping-basket"></i></button>
    </div>

  </div>
  <br>
  <button class="btn btn-success" routerLink="/sales/derivates">Derivados
    <i class="fas fa-cubes"></i>
  </button>
  <div class="row">
    <div class="col-md-3" *ngFor="let product of products | productFilter:searchTerm">

      <div class="card text-center" style="border: 0cm;">

        <div class="card-body" style="border: 0cm">
          <div class="card-header d-flex justify-content-between align-items-center"
            style="border: 0cm;background-color: white">
            <!-- <button class="btn btn-danger" >
                <i class="far fa-trash-alt"></i>
              </button> -->
          </div>
          <img id="myImg" [src]="product.imagen" style="width: 150px;height: 155px">
          <h4>{{product.descripcion}}</h4>
          <p> <strong>${{product.precio | number:0 }} x KG</strong></p>
          <a class="btn btn-info" (click)="showModal(product, productsModal)" style="color: white">Agregar
            <i class="fas fa-shopping-basket"></i></a>
        </div>

      </div>

      <br>

    </div>
  </div>
</div>

<!-- ModalProducts -->

<ng-template #productsModal>
  <div class="modal-header">
    <h5 class="modal-title">
      <h1>{{select.descripcion}}</h1>
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(productsModal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-left">
    <div class="align-items-center text-center"><img
        [src]="select.imagen == '' ? '../../../assets/retail.gif' : select.imagen " class="card-img-top"
        style="width: 220px;height: 225px"></div>
    <div> <strong>Precio:</strong> ${{select.precio  | number:0 }}</div>
    <div> <strong>Cantidad:</strong> {{select.cantidad}} KG</div>
    <div>
      <h2><strong>Total:</strong> ${{select.precio * select.cantidad  | number:0}} </h2>
    </div>
  </div>
  <div class="modal-footer align-items-center text-center">
    <strong> Seleccione la Cantidad :</strong>
    <input type="number" id="quantity" name="quantity" min="1" max="1000" [(ngModel)]="select.cantidad"
      autofocus="true">

    <div class="align-items-center text-center" *ngIf="!logon">
      <button type="button" class="btn btn-success mr-2" placement="top"
        ngbPopover="Para agregar productos a la canasta primero debe iniciar sesion, dirijase a la opcion Login"
        popoverTitle="Canasta">
        Agregar <i class="fas fa-shopping-basket"></i>
      </button>
    </div>
    <div class="align-items-center text-center" *ngIf="logon">
      <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addCar(select,productsModal)">Agregar
        <i class="fas fa-shopping-basket"></i></button>
    </div>

  </div>
</ng-template>